:root {
    --primary-color: #0067FE; 
    --secondary-color: #242322; 
    --background-color: #11100F;  
    --white-or-black: #ffffff ;

    --gray: #3B3A39; 
    --gray-dark: #909090; 
    --blue: #1E34C2; 
    --black: #1F2123; 
    --white: #ffffff; 
  }