:root {
    --primary-color: #0067FE; 
    --secondary-color: #E1EDFF; 
    --background-color: #F9F9F9;
    --white-or-black: #000000 ;
    
    --gray: #EBEBEB; 
    --gray-dark: #909090; 
    --blue: #0067FE; 
    --black: #11100F; 
    --white: #ffffff; 
  }