.react-chatbot-kit-chat-container {
    width: 100%;
    height: 87vh;
    background-color: var(--background-color);
    padding-top: 0.5rem;
    
}

.react-chatbot-kit-chat-inner-container {
    background-color: var(--background-color);
    
}



.react-chatbot-kit-chat-header {
    /* background-color: var(--background-color);
    color: var(--black);
    border-bottom: 1px solid var(--gray-dark);
    font-weight:600; */
    display: none;
    
}



.react-chatbot-kit-chat-message-container {
    overflow-x: hidden;
    /* width: 100%; */
    min-height: 74vh !important;
    margin: unset auto;
    overflow: auto;
    
}



/*==================================================== bot message ====================================================*/
/* =========================================================================================================*/

.react-chatbot-kit-user-avatar-icon {
    fill: var(--background-color);
    width: 20px;
    height: 20px;
}


.react-chatbot-kit-chat-bot-message-container, .react-chatbot-kit-user-chat-message-container {
    padding: 15px;
    border-radius: 15px;
    font-size: 0.9rem;
    color: var(--black);
    width: 93% !important;
    margin: auto;
    text-align: left;
    background-color: var(--secondary-color);
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.127); */
    /* border: 1px solid var(--gray-dark); */
    margin: 28px auto;
}

.react-chatbot-kit-chat-bot-avatar-container, .react-chatbot-kit-user-avatar-container {
    width: 40px;
    height: 40px;
    font-size: 1.2rem;
    margin-right: 12.5px;
    margin-left: unset;
    background-color: var(--primary-color);
    
}

.react-chatbot-kit-chat-bot-message::before, .react-chatbot-kit-user-chat-message::before{
    content: 'MedisymDetect';
    /* background-color: var(--secondary-color); */
    color: var(--black);
    position: absolute;
    top: -27px;
    /* color: var(--gray); */
    font-weight: bold;


}

.react-chatbot-kit-user-chat-message, .react-chatbot-kit-chat-bot-message{
    background-color: var(--secondary-color);
    color: var(--black);
    margin-top: 30px;
    margin-left: unset !important;
    width: 100%;
    font-size: 16px;

}

.react-chatbot-kit-chat-bot-message-arrow, .react-chatbot-kit-user-chat-message-arrow {
    display: none;
    
}

/* ===================================================== user message ====================================================*/
/* =========================================================================================================*/
.react-chatbot-kit-user-chat-message-container {
    flex-direction: row-reverse;
    background-color: var(--background-color);
    
}

.react-chatbot-kit-user-avatar-container {
    background-color: var(--gray);
    display: none;
    
}
.react-chatbot-kit-user-chat-message{
    background-color: var(--background-color);
    margin-top: -10px;

}

.react-chatbot-kit-user-chat-message::before{
    content: '';
    font-weight: bold;
}

/* ===================================================== promp input ====================================================*/
/* =========================================================================================================*/

.react-chatbot-kit-chat-input-container {
    padding: 20px;
    width: 100% !important;
    margin: 0px auto !important;
    background-color: var(--white);
    border-top: 1px solid var(--gray-dark);
}


.react-chatbot-kit-chat-btn-send {
    background-color: var(--white);
    width: 80px;
    border: none;
    color: #fff;
    border-bottom-right-radius: 5px;
    /* display: none; */
    
}

.react-chatbot-kit-chat-input-form {
    background-color: var(--white) !important;
    width: 93%;
    margin: 0px auto;
    border: 1px solid var(--gray-dark);
    box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.086);
}

.react-chatbot-kit-chat-input {
    padding: 15.5px;
    margin-right: 3px;
    background-color: var(--white) !important;
    color: var(--black);
    border: none;
    font-size: 16px;
    
}
.react-chatbot-kit-chat-input:focus{
   border: none !important;
   
   
}

.react-chatbot-kit-chat-input-form,.react-chatbot-kit-chat-input ,.react-chatbot-kit-chat-btn-send{
    border-radius: 10px;
}

.react-chatbot-kit-chat-input::placeholder {
    font-size: 16px;
    color: var(--gray);
}

.react-chatbot-kit-chat-btn-send {

}

.react-chatbot-kit-chat-btn-send-icon > path {
    fill: var(--black); 
  }
  

.react-chatbot-kit-chat-bot-avatar-icon {
}

.react-chatbot-kit-chat-bot-avatar-letter {
}


.react-chatbot-kit-chat-bot-loading-icon-container {
}

.chatbot-loader-container {
    width: fit-content;

    
}

.chatbot-loader-container #chatbot-loader #chatbot-loader-dot1 {
    background-color: black !important;

}

.chatbot-loader-container #chatbot-loader #chatbot-loader-dot2 {
    background-color: black !important;

}

.chatbot-loader-container #chatbot-loader #chatbot-loader-dot3 {
    background-color: black !important;

}

.react-chatbot-kit-error {
    
}

.react-chatbot-kit-error-container {
    
}

.react-chatbot-kit-error-header {
}

.react-chatbot-kit-error-docs {
}