.react-chatbot-kit-chat-container {
    width: 100%;
    background-color: var(--background-color);
    min-height: 84vh !important;
    padding-top: 20px;
}

.react-chatbot-kit-chat-inner-container {
    background-color: var(--background-color);
}

.react-chatbot-kit-chat-header {
    display: none;
}

.react-chatbot-kit-chat-message-container {
    min-width: 100% !important;
    overflow-x: hidden;
    overflow: auto;
    min-height: 74vh !important;
    padding: 0px;
}

/*==================================================== bot message ====================================================*/
/* =========================================================================================================*/

.react-chatbot-kit-user-avatar-icon {
    fill: var(--background-color);
    width: 20px;
    height: 20px;
}

.react-chatbot-kit-chat-bot-message-container,
.react-chatbot-kit-user-chat-message-container {
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
    color: var(--black);
    width: fit-content;
    text-align: left;
    background-color: var(--secondary-color);
    border: 1px solid var(--gray);
    min-width: 80%;
    /* min-width: 40%; */
    /* max-width: 70%; */
}

.react-chatbot-kit-chat-bot-message-container {
    margin-right: auto;
    margin-bottom: 26px;
}

.react-chatbot-kit-chat-bot-avatar-container,
.react-chatbot-kit-user-avatar-container {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    margin-right: 12.5px;
    margin-left: unset;
    background-color: var(--primary-color);
}

.react-chatbot-kit-chat-bot-message::before,
.react-chatbot-kit-user-chat-message::before {
    font-family: "Roboto", sans-serif;
    content: "MedisymDetect";
    color: var(--white-or-black);
    position: absolute;
    top: -27px;
    font-weight: 500;
}

.react-chatbot-kit-chat-bot-message {
    background-color: var(--secondary-color);
    color: var(--white-or-black);
    margin-top: 30px;
    margin-left: unset !important;
    width: 100%;
    font-size: 16px;
}

.react-chatbot-kit-chat-bot-message-arrow,
.react-chatbot-kit-user-chat-message-arrow {
    display: none;
}

/* ===================================================== user message ====================================================*/
/* =========================================================================================================*/

.react-chatbot-kit-user-chat-message-container {
    text-align: right;
    flex-direction: row;
    background-color: var(--primary-color);
    margin-left: auto;
    margin-bottom: 26px;
    min-width: fit-content;
}

.react-chatbot-kit-user-avatar-container {
    background-color: var(--gray);
    display: none;
}
.react-chatbot-kit-user-chat-message {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 6px;
    margin-top: -5px !important;
    font-size: 16px;
}

.react-chatbot-kit-user-chat-message::before {
    content: "";
    font-weight: bold;
}

/* ===================================================== promp input ====================================================*/
/* =========================================================================================================*/

.react-chatbot-kit-chat-input-container {
    padding: 20px 0px;
    width: 100% !important;
    margin: 0px auto !important;
    background: linear-gradient(
        180deg,
        rgba(249, 249, 249, 0) 0%,
        var(--background-color) 13.96%,
        var(--background-color) 100%
    );
}

.react-chatbot-kit-chat-btn-send {
    background-color: var(--primary-color);
    width: 63px;
    height: 50px;
    border: none;
    color: #fff;
    border-bottom-right-radius: 5px;
    margin-left: 10px;
    margin-top: 5px;
}

.react-chatbot-kit-chat-input-form {
    background-color: var(--background-color) !important;
    width: 100%;
    margin: 0px auto;
}

.react-chatbot-kit-chat-input {
    padding: 12px 15px;
    margin-right: 3px;
    background-color: var(--gray-light) !important;
    color: var(--white-or-black);
    border: 2px solid var(--gray);
    font-size: 16px;
    resize: none; /* Disable textarea resizing */
}
.react-chatbot-kit-chat-input:focus {
    /* border: none !important; */
    outline: none;
}

.react-chatbot-kit-chat-input-form,
.react-chatbot-kit-chat-input {
    border-radius: 6px;
}

.react-chatbot-kit-chat-input::placeholder {
    font-size: 16px;
    color: var(--gray-dark);
}

.react-chatbot-kit-chat-btn-send {
    border-radius: 100%;
}

.react-chatbot-kit-chat-btn-send-icon > path {
    fill: var(--white);
}

.react-chatbot-kit-chat-bot-avatar-icon {
}

.react-chatbot-kit-chat-bot-avatar-letter {
}

.react-chatbot-kit-chat-bot-loading-icon-container {
}

.chatbot-loader-container {
    width: fit-content;
}

.chatbot-loader-container #chatbot-loader #chatbot-loader-dot1 {
    background-color: black !important;
}

.chatbot-loader-container #chatbot-loader #chatbot-loader-dot2 {
    background-color: black !important;
}

.chatbot-loader-container #chatbot-loader #chatbot-loader-dot3 {
    background-color: black !important;
}

.react-chatbot-kit-error {
}

.react-chatbot-kit-error-container {
}

.react-chatbot-kit-error-header {
}

.react-chatbot-kit-error-docs {
}

/* Tablet */
@media screen and (min-width: 768px) {
        .react-chatbot-kit-chat-bot-message-container,
    .react-chatbot-kit-user-chat-message-container {
        min-width: 60%;
        max-width: 90%;
    }
    .react-chatbot-kit-user-chat-message-container {
        min-width: min-content;
    }


    .react-chatbot-kit-chat-message-container {
        min-height: 80vh !important;
    }
    .react-chatbot-kit-chat-container {
        min-height: 89vh !important;
    }
    .react-chatbot-kit-chat-btn-send {
        width: 55px;
        height: 50px;
        margin-top: 0px;

        margin-left: 10px;
    }

}

/* desktop */
@media screen and (min-width: 992px) {
     .react-chatbot-kit-chat-bot-message-container,
    .react-chatbot-kit-user-chat-message-container {
        max-width: 84%;
    }

    .react-chatbot-kit-chat-message-container {
        padding: 0px 100px;
        min-height: 78vh !important;
        padding-bottom: 100px;
    }
    .react-chatbot-kit-chat-container {
        min-height: 84lvh !important;
    }
    .react-chatbot-kit-chat-input-form{
        padding: 0px 40px;
    }
        .react-chatbot-kit-chat-input-container {
        padding: 20px;
        padding-bottom: 15px;
    }
    .react-chatbot-kit-chat-input-form {
        width: 93%;
    }
}
