/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@import "../css/LandingPage.css";


  html{
    scroll-behavior: smooth !important;
  }
  body{
    background-color: var(--background-color);
  }
  /* ====================================== scroll bar ================================== */

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--gray);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gray-dark);
}


@media screen and (min-width: 768px) {
  
  /* width */
  ::-webkit-scrollbar {
    width: 12px;
  }
  
}

/* Scroll bar x-card */
.cardScroll::-webkit-scrollbar {
  display: none;
}
/* scroll bar end*/

  /* ckeditor */

.ck.ck-toolbar{
  color: white !important;
  background: var(--black) !important;
  border-color: var(--gray-dark) !important;
  border-radius: 8px 8px 0px 0px !important;
}

.ck-reset_all :not(.ck-reset_all-excluded *), .ck.ck-reset, .ck.ck-reset_all {
  color: white !important;
background: var(--black) !important;

}

.ck.ck-editor__main>.ck-editor__editable {
  color: white !important;
    background: var(--black) !important;
    border-radius: 0px 0px 8px 8px !important;
  }
  
  .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){
  border-color: var(--gray-dark) !important;

}